body, html{
    background: azure;
}

h1{
    color: rgb(252, 252, 252);
    font-size: 55px;
}

h2{
    color: rgb(0, 0, 0);
    font-size: 30px;
}

p{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.work-experience{
    padding: 20px;
}
.certs{
    padding: 20px;
}

.container2{
    padding-top: 100px;
    padding-left: 100px;
}

